<!-- <------------admin info------------------> 

 <div class="jumbotron">
 <h1> {{name}} </h1>
<img class="thumbnail" src=" {{image}} " width ="100px">  
<p>{{phone}}</p>                                                                                                      
<h3>id: {{id}} </h3>
<h3>role_id: {{role_id}} </h3>
<h3>password: {{password}} </h3>
  
<button id="edit" class="btn btn-default" role="edit" >edit</button>
<button id="delete" class="btn btn-default" role="delete">delete</button> 
</div> n 