        <!--------------craete student------------------>
 <form enctype="multipart/form-data" id="createForm">
    
       <input type="text" name="name" placeholder="name">
       <input type="text" name="password" placeholder="password">
       <input type="text" name="email" placeholder="email">
       <input type="text" name="phone" placeholder="phone">
       <input type="file" id="picture" name="picture" placeholder="picture">
       <div id="id"> select courses</div>
       <button id ='add'>submit</button>
       <button onclick="showCreateForm('students','createStudent.html','courses')">refresh</button>

</form>