
<!-- <------------student info------------------>
<div class="jumbotron">
<h1> {{name}} </h1>
<img src=" {{image}} " width ="20%">
<h3>email: {{email}}                                                                                                            
<h3>phone: {{phone}} </h3>
<div id="courses"></div>
<div id="list"><h4>{{list}}</h4></div>
<button id="edit" class="btn btn-default" role="edit">edit</button>
<button id= 'delete' class ="btn btn-default" role="delete">delete</button>
</div>