.container {
  display: grid;
  width: 50%;
  height: 700px;
  background-color: lightgoldenrodyellow;
  grid-template-columns: 400px auto auto;
  border: solid 1px;
}
main {
  width: 75%;
  margin: auto;
}
