* {
  margin: 0;
  padding: 0;
}
li {
  font-size: 10px;
}
.pic {
  float: right;
  width: 71px;
  height: 71px;
}
.small-pic{
  float: right;
  width: 30px;
  height: 30px;
  position: relative;
  bottom: 9px;
}


