main{
    height: 350px;
    width:70%;
    margin: auto;
    box-sizing: border-box;
    position:absolute;
    top:200px;
    right:15%;
    left:15%

}
#side{
    width:30%;
    height: 240px;
    position:absolute;
    top:90px;
    left:1%;
    
   
}
#side p{
    
    text-decoration-line: underline;

}
#side ul{
   
    margin:auto;
    width:50%;
    float:right;
    
    
}
#main{
    width:65%;
   
    height: 240px;
    position:absolute;
    top:90px;
    left:34%;
}

