main{
    height: 350px;
    width:70%;
    border: solid;
    margin: auto;
    box-sizing: border-box;
    position:absolute;
    top:200px;
    right:15%;
    left:15%

}
#side{
    width:30%;
    height: 240px;
    position:absolute;
    top:90px;
    left:1%;
    border:solid
   
}
#side p{
    
    text-decoration-line: underline;

}
#side ul{
    border:solid;
    margin:auto;
    width:50%;
    float:right;
    
    
}
#main{
    width:65%;
    border:solid;
    height: 240px;
    position:absolute;
    top:90px;
    left:34%;
}
nav{ height:70px;
    border-bottom:solid;
    width:97%;
    position:absolute;
    left:13px;
}
img{
    position: absolute;
    top:10px
}